<style>
</style>
<div class="row">
	<div class="col">
		<ul class="mainnav">		
			<li><a routerLink="#" id="backbutton" (click)="backpressed($event)"><span class="arrow">&#171;</span> Back</a></li>	
			<li><a routerLink="/spaceships">Spaceships</a></li>
			<li><a routerLink="/pilots">Pilots</a></li>
			<li><a routerLink="/planets">Planets</a></li>
			<li><a routerLink="/species">Species</a></li>
			<li><a routerLink="/vehicles">Vehicles</a></li>
			<li><a routerLink="/movies">Movies</a></li>
			<li><a routerLink="/search">Search</a></li>		
		</ul>
	</div>
</div>
<router-outlet></router-outlet>